<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="water.works.waterworks"
    android:versionCode="35"
    android:versionName="3.6.7.8">

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="23"
        tools:overrideLibrary="android.support.v17.leanback,android.support.test" />

    <permission
        android:name="android.permission.MANAGE_USERS"
        android:permissionGroup="android.permission-group.SYSTEM_TOOLS"/>
    <!--android:protectionLevel="signature|system" />-->

    <uses-permission
        android:name="android.permission.INTERACT_ACROSS_USERS_FULL"
        android:protectionLevel="signature|system" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <!-- Root Access Permissions to install latest Builds -->

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <!--<uses-permission android:name="android.permission.INSTALL_PACKAGES" />-->
    <uses-permission android:name="android.permission.ACCESS_SUPERUSER" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <!--<permission-->
    <!--android:name=".permission.C2D_MESSAGE"-->
    <!--android:protectionLevel="signature" />-->

    <uses-permission android:name=".permission.C2D_MESSAGE" />
    <uses-permission
        android:name="com.google.android.c2dm.permission.RECEIVE"
        android:protectionLevel="signature" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name=".MyApp"
        tools:replace="android:icon">
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CheckServerActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name=".MenuActivity"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name=".ViewYourScheduleActivity"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name=".ViewCurrentLessonActivity"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name=".TestActivity"
            android:label="@string/title_activity_test"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name=".ModifyComments"
            android:label="@string/title_activity_modify_comments"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name=".NewModifyComments"
            android:label="@string/title_activity_modify_comments"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name=".AwardTurboActivity"
            android:label="@string/title_activity_message_center"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name=".TurboIdeaActivity"
            android:label="@string/title_activity_turbo_idea"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name=".MessageCenterActivity"
            android:label="@string/title_activity_message_center"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name=".DetailMailActivity"
            android:parentActivityName=".MessageCenterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name=".CreateNewMessageActivity"
            android:parentActivityName=".MessageCenterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name=".RequestDeckMenuActivity"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name=".ToAndCcSelectionActivity"
            android:label="@string/title_activity_to_and_cc_selection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name=".ToAndCcEditActivity"
            android:label="@string/title_activity_to_and_cc_edit"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name="ReportActivity"
            android:label="@string/title_activity_report"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name=".DetailReportActivity"
            android:label="@string/title_activity_detail_report"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name=".ViewScheduleDeckSupervisorActivity"
            android:label="@string/title_activity_view_schedule"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name=".GetAllInstructorActivity"
            android:label="@string/title_activity_get_all_instructor"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name=".TodaysSchedule_DeckSupervisorActivity"
            android:label="@string/title_activity_todays_schedule__deck_supervisor"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name=".DailyReportActivity"
            android:label="@string/title_activity_daliy_report"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name=".InstructorSelectionForMVCSActivity"
            android:label="@string/title_activity_instructor_selection_for_vcs"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name=".ManagerTodaysScheduleActivity"
            android:label="@string/title_activity_manager_todays_schedule"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name=".ShadowLogsActivity"
            android:label="@string/title_activity_shadow_logs"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name=".CommunicationLogsActivity"
            android:label="@string/title_activity_communication_logs"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name=".ViewAllCommunicationActivity"
            android:label="@string/title_activity_view_all_communication"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name=".ViewTodaysScheduleInstructorActivty"
            android:label="@string/title_activity_view_todays_schedule_activty"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name=".ViewCurrentScheduleInstructorActivity"
            android:label="@string/title_activity_instructor_current_schedule"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name=".SubmitWorkReport"
            android:label="@string/title_submit_work_report"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name=".chat.Chat_Room"
            android:label="Chat"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"></activity>
        <activity
            android:name=".chat.Chat_Friends_list"
            android:label="Chat"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="search.SearchFunctionality"
            android:label="Chat"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"></activity>

        <receiver
            android:name="chat.GcmBroadcastReceiver_pubnub"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="waterworks" />
            </intent-filter>
        </receiver>

        <service android:name="chat.GcmIntentService_Pubnub" />
        <!-- <service -->
        <!-- android:name="ab.services.DeckNotificationService" -->
        <!-- android:label="DeckNotificationService" /> -->
    </application>


</manifest>